@import "materials/main.scss";

.site-header {
    @extend .tintedGlass;
    border-top: 0px solid;
    border-bottom: 1px solid #404040;
    font-weight: bold;
    z-index: 999999999;
}

.site-nav {
    background-color: transparent;
}

.site-nav .page-link {
    color: $white1 !important;
    line-height: 1.5;
    padding: 5px 10px;
    margin-left: 20px;
}

.site-title {
    color: $white1 !important;
}

.site-nav .page-link:not(:last-child) {
    margin-right: 0;
}

#loginArea {
    margin-left: 20px;
}

.site-title,
.site-title:visited,
.site-nav,
.page-link {
    font-weight: bolder;
}

@media screen and (max-width: fit-content) {
    .site-title {
        padding-right: 45px;
    }
}

.site-header .wrapper {
    max-width: fit-content !important;
}

.site-nav .trigger {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 60px;
    width: 200px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 1000;
}

.site-nav .nav-trigger:checked ~ label + .trigger,
.site-nav .nav-trigger:checked + label + .trigger {
    display: flex;
}

@media (min-width: 600px) {
    .site-nav .trigger {
        display: flex !important;
        position: static;
        flex-direction: row;
        background: none;
        box-shadow: none;
        width: auto;
    }
}